.account-container{
    background-color: #7f9bb2;
    width: 40%;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 4px;
}

.account-informations{
    background-color: white;
    padding: 1em;
    border-radius: 4px;
}