footer{
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #003865;
}

.footer-container{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em 2em;
}