html,
body {
    overflow: auto;
    height: 100%;
}

html {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-size: 62.5%;
}

body {
    flex: 1 0;
    font-size: 1.6rem;
    /*font-family: 'Quicksand', sans-serif;*/
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.global-container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0em 2em;
}