.orders-table, .orders-details-table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1em 0em;
    th, td{
        padding: 8px;
        border: 1px solid black;
        text-align: center;
    }
}

.orders-details-table .product-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}