.add-product-btn {
    color: white;
    background: #003865;
    padding: 0.8em;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;
}

.add-product-btn:hover {
    background: #325f83;
}

.products-number {
    margin-top: 2em;
}

.product-form-container {
    display: flex;
}