.shop-container{
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.categories-menu-container{
    background: #D4F6CC;
    padding: 2em;
    ul{
        display: flex;
        gap: 1em;
    }
    a{
        color: #003865;
        font-size: 2rem;
        font-weight: bold;
    }
}

.categories-products-container{
    display: flex;
    gap: 3em;
}

.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}