*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

html,
body {
  overflow: auto;
  height: 100%;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
  font-size: 1.6rem;
  /*font-family: 'Quicksand', sans-serif;*/
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.global-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0em 2em;
}

.header-container {
  padding: 2em 6em;
  display: flex;
  justify-content: space-between;
  background-color: #003865;
}

.header-container a {
  display: flex;
  align-items: center;
  gap: 0.4em;
  color: white;
  font-size: 1.8rem;
  transition: 0.2s ease;
}
.header-container a .adaptive-img--contain {
  width: 16px;
  height: 16px;
  filter: invert(95%) sepia(17%) saturate(453%) hue-rotate(47deg) brightness(99%) contrast(94%);
}

.header-container a:hover {
  color: #D4F6CC;
}

.primary-menu ul {
  display: flex;
  gap: 2em;
}
footer {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #003865;
}

.footer-container {
  display: flex;
  justify-content: center;
  color: white;
  padding: 1em 2em;
}

.account-container {
  background-color: #D4F6CC;
  width: 40%;
  margin-top: 2em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 4px;
}

.account-informations {
  background-color: white;
  padding: 1em;
  border-radius: 4px;
}

.product-form-container {
  display: flex;
}

.product-form {
  width: 30em;
  height: 50em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.product-form label {
  margin-top: 0.6em;
}
.product-form .submit-btn-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.product-form .submit-btn-container input {
  width: 40%;
}

.products-table {
  border: 1px solid black;
  border-collapse: collapse;
}
.products-table th, .products-table td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
