@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

:root {
  --primary-purple: #7971EA;
  --secondary-purple: #5A50E5;
}

html,
body {
  overflow: auto;
  height: 100%;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  flex: 1 0;
  font-size: 1.6rem;
  position: relative;
  font-family: "Dosis", sans-serif;
}

h1 {
  margin: 1.2em 0em 2em 0em;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.global-container {
  margin: 2em auto;
  max-width: 1400px;
  padding: 0em 2em;
}

.header-container {
  padding: 2em 6em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  box-shadow: 0 -2px 6px 0px #111;
}

.logo-container, .primary-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8em;
}

.header-container a {
  display: flex;
  align-items: center;
  gap: 0.4em;
  color: #25262A;
  font-size: 1.8rem;
  transition: 0.2s ease;
}
.header-container a .adaptive-img--contain {
  width: 16px;
  height: 16px;
  filter: invert(43%) sepia(55%) saturate(1302%) hue-rotate(216deg) brightness(97%) contrast(89%);
}

.logo-container a {
  text-transform: UPPERCASE;
  border: 1px solid black;
  letter-spacing: 0.1em;
  padding: 16px;
}

.header-container a:hover {
  color: var(--primary-purple);
}

.primary-menu ul {
  display: flex;
  gap: 2em;
}
.footer-container {
  /*position: absolute;
  width: 100%;
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0; */
  display: flex;
  background-color: #003865;
}

.page-container {
  min-height: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: center;
  color: white;
  padding: 1em 2em;
}

.account-container {
  background-color: #7f9bb2;
  width: 40%;
  margin-top: 2em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 4px;
}

.account-informations {
  background-color: white;
  padding: 1em;
  border-radius: 4px;
}

.add-product-btn {
  color: white;
  background: #003865;
  padding: 0.8em;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s ease;
}

.add-product-btn:hover {
  background: #325f83;
}

.products-number {
  margin-top: 2em;
}

.product-form-container {
  display: flex;
}

.shop-container {
  display: flex;
  gap: 5em;
}

.categories-menu-container {
  border: 1px solid black;
  padding: 2em;
  min-width: 10em;
  max-width: 10em;
}
.categories-menu-container ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.categories-menu-container a {
  color: #25262A;
  font-size: 2rem;
  font-weight: bold;
}

.categories-products-container {
  display: flex;
  gap: 3em;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.see-product-btn {
  background-color: var(--primary-purple);
  color: white;
  padding: 12px;
  border-radius: 4px;
}

.product-sheet-container {
  display: flex;
}

.product-sheet-image_container, .product-sheet-desc-container {
  flex: 1 50%;
}

.product-sheet-image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-sheet-image_container .adaptive-img--contain {
  height: 12em;
  width: 12em;
}

.product-sheet-desc-container h2 {
  padding-bottom: 0.5em;
}
.product-sheet-desc-container .features, .product-sheet-desc-container .description, .product-sheet-desc-container .price-and-stock {
  margin-top: 1em;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-top: 2px solid black;
}

.cart-table {
  margin-top: 2em;
  border: 1px solid black;
  border-collapse: collapse;
}
.cart-table th, .cart-table td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

.members-table {
  margin: 1em 0em;
  border-collapse: collapse;
}
.members-table thead {
  background-color: #003865;
  color: white;
  font-weight: 300;
}
.members-table tbody tr:nth-of-type(odd) {
  background: #eee;
}
.members-table th, .members-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

/* 
********************* TABLES
*/
.members-table, .products-table, .orders-table, .orders-details-table {
  margin: 1em 0em;
  border-collapse: collapse;
}
.members-table thead, .products-table thead, .orders-table thead, .orders-details-table thead {
  background-color: #003865;
  color: white;
  font-weight: 300;
}
.members-table tbody tr:nth-of-type(odd), .products-table tbody tr:nth-of-type(odd), .orders-table tbody tr:nth-of-type(odd), .orders-details-table tbody tr:nth-of-type(odd) {
  background: #eee;
}
.members-table th, .members-table td, .products-table th, .products-table td, .orders-table th, .orders-table td, .orders-details-table th, .orders-details-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.products-table .action-icon a {
  display: flex;
  justify-content: center;
}
.products-table .action-icon a .adaptive-img--contain {
  width: 32px;
  height: 32px;
  filter: invert(11%) sepia(77%) saturate(2719%) hue-rotate(191deg) brightness(100%) contrast(101%);
}

.orders-table a {
  color: #325f83;
}

.orders-table a:hover {
  color: #003865;
}

.orders-details-table .product-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
********************* FORMS
*/
.form-template {
  display: flex;
  flex-direction: column;
  padding: 1.2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 6px;
}
.form-template h2 {
  margin-bottom: 0.8em;
}
.form-template label {
  margin-top: 0.6em;
  padding-left: 0.2em;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #003865;
}
.form-template input,
.form-template textarea {
  padding: 4px;
  background: #e5ebef;
  border: none;
  border-radius: 4px;
}
.form-template .submit-btn-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.form-template .submit-btn-container input {
  width: 40%;
  background: #003865;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1em;
  transition: 0.3s ease;
  cursor: pointer;
}
.form-template .submit-btn-container input:hover {
  background: #325f83;
}

.register-form, .product-form {
  min-width: 40em;
  max-width: 40em;
}
.register-form .form-parts-container, .product-form .form-parts-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}
.register-form .form-part, .product-form .form-part {
  padding: 2em;
}
.register-form .form-part input, .register-form textarea, .register-form select, .product-form .form-part input, .product-form textarea, .product-form select {
  margin-top: 0.6em;
  width: 18em;
}
.register-form .form-part textarea, .product-form .form-part textarea {
  resize: vertical;
  height: 7em;
}

.login-form {
  min-width: 30em;
  max-width: 30em;
}
.login-form input, .login-form label {
  margin-bottom: 1em;
}

.product-form input, .product-form textarea, .product-form select {
  margin: 1em 0em 0.5em 0em;
}
.product-form textarea {
  resize: vertical;
}

/*# sourceMappingURL=style.css.map */
